.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  width: 100%;
}

@media (min-width: 834px) {
  .wrapper{
    width: 260px;
  }
}

@media (min-width: 1024px) {
  .wrapper{
    width: 380px;
  }
}